.friend-item__container:not(:last-child){
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: .5px solid black;
  align-items: center;
}

.friend-item__container:last-child {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.friend-item__container p {
  margin: 0;
  font-family: 'Aileron';
  font-size: 12pt;

}
.friend__details {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-left: 15px;
  align-items: center;
}
.friend__details p {
  padding-right: 20px;
}

.friend__details img {
  height: 30px;
  padding-right: 20px;
}

.friend-item__container button {
  background-color: #405f8b;
  color: white;
  text-align: center;
  line-height: 20px;
  margin: 5px;
  margin-bottom: 7px;
  border-radius: 9999px;
  cursor: pointer;
  line-height: 20px;
  padding: 3px 10px;
}

.friend-item__container button:hover {
  background-color: #f88c48;
}
.friend-item__container button:active {
  transform: translateY(2px)
}