.new-wish-form__container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

.new-wish-form__container h3 {
    margin: 1rem auto 1rem;;
}

.new-wish-form__form {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
    width: 100%;
    justify-content: space-between;
    background-color: #fff5d7;
    padding: 5%;
    font-family: "Aileron";
    font-size: 12pt;
}

.new-wish-form__form label {
    padding: 1rem 0 0;
}

.new-wish-form__form input:not(:last-child) {
    margin: 0px 0px 20px;
    border: .5px solid;
    background-color: white;
}

