.result-card__container {
    display: flex;
    flex-direction: column; 
    gap: 10px;

}

.result-card__container {
    background-color: #fff5d7;
    padding: 10% 5%;
    font-family: "Aileron";
    text-align: center;
    border-radius: 10px;
    color: #405f8b;
}

