.add-wish-page__container {
    padding: 20px 30px;
    height: calc(100vh - 90.5px);
}

.add-wish-page__container h2 {
    font-family: 'Source Serif Pro';
    color: #405f8b;
    font-size: 24pt;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 1.5rem;
    margin-top: .5rem;
}

.add-wish-page__container h3 {
    font-family: 'Source Serif Pro';
    color: #405f8b;
    font-size: 18pt;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 1rem;
}

.add-wish-page__content{
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 2rem;
}
