.authenticate-page__row1 {
    background-image: url(../media/Sharing-food-with-friends.jpg);
    background-image: linear-gradient(transparent, #fff5d7 100%), url(../media/Sharing-food-with-friends.jpg); 
    height: 200px;
    background-position: center;
    background-size: cover;
}

.authenticate-page__row2 {
    padding: 0 10% 0;
    font-family: 'Source Serif Pro';
    font-size: 20pt;
    margin: 5px;
    color: #f88c48
}

.authenticate-page__header {
    font-size: 60pt;
    margin: 40px 0 0;
}

.authenticate-page__header .title-foodie {
    color: #405f8b;
}

.authenticate-page__header .title-friends {
    color: #f88c48;
}

.authenticate-page__row3 {
    padding: 0 10% 0;
    display: grid;
    grid-template-columns: 1fr 10% 1fr 10% 1fr;
    font-family: "Aileron";
    color: #f88c48;
    align-items: center;
    margin-bottom: 50px;
}

.authenticate-page__row3 .auth-button {
    text-align: center;
    justify-content: center;
}

.login__form {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.login__form input:not(:last-child){
    background-color: white;
    margin-bottom: 10px;
    color: #405f8b;
    padding: 4px 8px;
    border: .5px solid #405f8b;
}
.login__form input:last-child {
    text-align: center;
    margin-top: 10px;
}

.row__divider {
    font-family: "Source Serif Pro";
    font-size: 14pt;
    color: #405f8b;
    text-align: center;
    padding: 40% 30%;
}

.row__divider p {
    border-bottom: solid 1px #405f8b;
}

.authentication-page__container {
    background-color:#fff5d7;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    min-height: 100vh;
}

/* .modal__overlay {
    position: fixed;
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0;
    background-color: rgba(0,0,0,0.3);
} */

/* .modal__container {
    position: fixed;
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
} */



.register-modal__container {
    position: fixed;
    z-index: 1300;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-modal__form {
    background-color: #fff5d7;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 16px;
    font-family: 'Aileron';
    color: #f88c48;
}
.register-modal__form input:not(:last-child) {
    width: 320px;
    background: white;
    padding: 4px 8px;
    margin: 5px;
    color: #405f8b;
    border: .5px solid #405f8b;
  }

  .register-modal__form .auth-button-invalid {
    width: 320px;
    text-align: center;
  }

  .register-modal__form .auth-button {
    width: 320px;
    text-align: center;
  }
  .register-modal__form p {
    color: #405f8b;
  }