.lists-page__container {
  padding: 20px 7%;
}

.list__container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 1.5rem;
  min-height: 30rem;
}

.list-view__button {
  background-color: #f88c48;
  font-size: 14pt;
  border-radius: 999px;
  padding: 3px 10px;
  color: #405f8b;
  transition: border-color 0.25s;
  margin: auto;
  cursor: pointer;
}