.wishlist-page__container {
  padding: 20px 7%;
}

.wishlist-page__container h2 {
  font-family: 'Source Serif Pro';
  text-align: center;
  color: #405f8b;
  font-size: 24pt;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.wishlist-map__container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 10px;
}


.main-list__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}

.wishlist__header {
  font-family: 'Source Serif Pro';
  font-size: 18pt;
  color: #f88c48;
  text-align: center;
  margin: 0 auto 5px;
}

.wishlist-sort__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Aileron";
  color: #f88c48
}

.wishlist-sort__container button {
  background-color: #405f8b;
  font-size: 10pt;
  border-radius: 999px;
  padding: 3px 10px;
  color: white;
  transition: border-color 0.25s;
  margin: auto;
}

.wish__container {
  margin: 0;
  max-height: 18rem;
  min-height: 9rem;
  overflow: scroll;
  border: 1px solid #000;
}

.wish {
  border: 0.5px solid black;
  background-color: #ffefbd;
}

.wish h3 {
  font-family: 'Source Serif Pro';
  font-size: 18pt;
  color: #405f8b;
  text-align: center;
  margin: 1rem auto 0.5rem;
}

.wish-details {
  display: flex;
  flex-direction: row;
  font-family: 'Aileron';
  color: #405f8b;
  font-size: 12pt;
}
.wish-details p {
  margin: .5rem auto;
}

.selected-wish {
  background-color: #f88c48;
  border: 0.5px solid black;
}


.selected-wish h3 {
  font-family: 'Source Serif Pro';
  font-size: 18pt;
  color: white;
  text-align: center;
  margin: 1rem auto .5rem;
}

.selected-wish-details {
  display: flex;
  flex-direction: row;
  font-family: 'Aileron';
  color: white;
  font-size: 12pt;
}
.selected-wish-details p {
  margin: .5rem auto;
}