.header-navbar {
    display: flex;
    justify-content: space-evenly;
    background-color: #ffefbd;
    margin: 0;
    text-align: center;
    padding: 10px 0px 20px;
}
nav > a {
    font-family: "Aileron";
    font-size: 14pt;
    padding: 0;
    color: #f77d2f
}

a.active {
    text-decoration: underline #405f8b;
}