.toggle-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 20px;
  margin: 0 8px;
}
.toggle-switch input[type="checkbox"] {
  display: none;
}
.toggle-switch .switch {
  position: absolute;
  cursor: pointer;
  background-color: #57a5b8;
  border-radius: 25px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: background-color 0.2s ease;
}
.toggle-switch .switch::before {
  position: absolute;
  content: "";
  left: 2px;
  top: 2px;
  width: 16px;
  height: 16px;
  background-color: #d2e0dd;
  border-radius: 50%;
  transition: transform 0.3s ease;
}
.toggle-switch input[type="checkbox"]:checked + .switch::before {
  transform: translateX(30px);
  background-color: #d2e0dd;
}
.toggle-switch input[type="checkbox"]:checked + .switch {
  background-color: #405f8b;
}