.wish-card__container {
    border: 1px solid #000;
    background-color: #ffefbd;
    list-style-type: none;
    max-height: 18rem;
    min-height: 9rem;
    overflow: scroll;
  }

  .selected-wish__container {
    display: flex;
    flex-direction: column;
    align-content: center;
  }