.edit-record-modal__container {
    position: fixed;
    z-index: 1300;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-record-modal__form {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 16px;
    font-family: 'Aileron';
    color: black;
    border-radius: 10px;
    border: 1px solid darkslategray;
    min-width: 28vw;
}

.edit-record-modal__form h3 {
    margin: .5rem auto;
    font-family: 'Source Serif Pro';
    font-size: 16pt;
    color: #405f8b;
}

.edit-record-modal__form label {
    font-family: 'Aileron';
    color: #f88c48;
    font-size: 12pt;
}

.edit-record-modal__form select {
    margin: .5rem 0 .5rem;
    font-size: 11pt;
    font-family: 'Aileron';

}

.edit-record-text__field {
    width: 94%;
    background: white;
    padding: 4px 8px;
    color: black;
    margin: .5rem 0 .5rem;
    border: .5px solid #405f8b;
    border-radius: 5px;
}

.attendees-search__field {
    width: 90%;
    background: white;
    padding: 4px 8px;
    color: black;
    margin: .5rem 0 0;
    border: .5px solid #405f8b;
    border-radius: 5px;
}

.attendees-search-result__container {
    list-style-type: none;
    width: 95%;
    padding-left: 0;
    margin: .5rem 0;
    border: .5px solid darkslategray;
    border-radius: 5px;
}
.attendees-search-result__container li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 10px 0;
    border-bottom: .5px solid darkslategray;
}
/* .edit-record-modal__form li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 10px 0;
} */

.attendees-search-result__container:not(:last-child) {
    border-bottom: .5px solid darkslategray;
}

.add-attendee__button {
    background-color:  white;
    font-family: "Aileron";
    font-size: 10pt;
    border-radius: 999px;
    padding: 3px 10px;
    color: #405f8b;
    transition: border-color 0.25s;
    cursor: pointer;
    text-align: center;
    margin: auto 0;
  }

.add-attendee__button:hover {
    background-color: #405f8b;
    color: white;
}
.add-attendee__button:active {
    transform: translateY(2px)
}

.selected-attendees__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: .5rem 0 .5rem;

}

.selected-attendees__container p {
    margin: 0;
    color: #f88c48;
}
.selected-attendees__container li {
    padding: 0;
}

.selected-attendees__container ul {
    margin: 0;
    list-style-type: none;
}

.submit__button {
    background-color: #405f8b ;
    font-family: "Aileron";
    font-size: 12pt;
    border-radius: 999px;
    padding: 3px 10px;
    color: white;
    transition: border-color 0.25s;
    cursor: pointer;
    text-align: center;
    width: 94%;
    margin-top: 10px;
}

.submit__button:hover {
    background-color: #f88c48;
    color: white;
}
.submit__button:active {
    transform: translateY(2px)
}

/* .edit-wish-form__container {
    align-items: center;
    display: flex;
    flex-direction: column;

}

.edit-wish-form__form {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
    width: 100%;
    justify-content: space-between;
}

.edit-wish-form__form input {
    margin: 0px 0px 20px;
}

.submit-btn, .submit-btn-invalid {
    background-color: #fff;
    border: 2px solid #000;
    padding: .5em;
}

.submit-btn:active {
    transform: translateY(2px);
}

.submit-btn:hover {
    background-color: #005C6C;
    cursor: pointer;
}

.invalid-form-input {
    border: red solid 1px;
    box-shadow: 0 0 7px red;
} */