.selected-record__container {
    display: grid;
    flex-direction: column;
    align-content: center;
}

.selected-record__content {
    background-color: white;
    list-style-type: none;
    /* max-height: 16rem; */
    min-height: 9rem;
    align-content: center;
    padding: .5rem;
    font-family: "Aileron";
    font-size: 12pt;
    color: black;
}
.selected-record-details__container {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
/* .selected-record-restaurant__content {
    display: grid;
    grid-template-columns: 2fr 5fr;
    max-height: 7rem;
} */

.selected-record__content img {
    object-fit: cover;
    max-width: 100%;
    height: 100%;
}

.selected-record__details {
    margin: 0;
    padding: .5rem;
    text-align: left;
}

.selected-record__details p{
    margin: .25rem;
}

.detail-type {
    color: #f88c48;
    margin-right: .5rem;
}
.wish-restaurant-comment {
    color: black;
    padding: .5rem;
    padding-left: 0;
    margin: 0;
}

.contact-friend__button {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    min-width: 25%;
    background-color: #405f8b;
    font-family: "Aileron";
    font-size: 10pt;
    border-radius: 999px;
    padding: 3px 15px;
    color: white;
    transition: border-color 0.25s;
    margin: .5rem auto 0;
    width: 55%;
  }
  
.contact-friend__button:hover {
    background-color: #57a5b8;
    color: white;
    cursor: pointer;
}

.contact-friend__button:active {
    transform: translateY(2px)
}

.record-buttons__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px
}
.record-buttons__container button {
    background-color: #405f8b;
    color: white;
    text-align: center;
    line-height: 20px;
    margin: 5px;
    margin-bottom: 7px;
    border-radius: 9999px;
    cursor: pointer;
    line-height: 20px;
    padding: 3px 10px;
}

.record-buttons__container button:hover {
    background-color: #f88c48;
}
.record-buttons__container button:active {
    transform: translateY(2px)
}

.delete-modal__container {
    position: fixed;
    z-index: 1300;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete-modal {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 16px;
    font-family: 'Aileron';
    color: #405f8b;
    border-radius: 10px;
    border: 1px solid darkslategray;
}

.delete-modal button {
    background-color: #405f8b;
    color: white;
    text-align: center;
    line-height: 20px;
    padding: 3px 10px;
    margin: 5px 20px;
    border-radius: 9999px;
    cursor: pointer;
}
.delete-modal button:hover {
    color: white;
    background-color: #f88c48;
}
.delete-modal button:active {
    transform: translateY(2px)
}

.delete-modal-buttons__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
}