.edit-record-modal__container {
    position: fixed;
    z-index: 1300;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-record-modal__form {
    background-color: #ffefbd;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 16px;
    font-family: 'Aileron';
    color: #f88c48;
    border-radius: 10px;
}

.edit-record-modal__form h3 {
    margin: .5rem auto;
}

.edit-record-modal__form label {
    font-family: 'Aileron';
    color: #f88c48;
    font-size: 12pt;
}

.edit-record-modal__form select {
    margin: .5rem 0 .5rem;
    font-size: 11pt;
    font-family: 'Aileron';

}

.edit-record-text__field {
    width: 240px;
    background: white;
    padding: 4px 8px;
    color: #405f8b;
    margin: .5rem 0 .5rem;
    border: .5px solid #405f8b;
}

.submit__button {
    background-color: #f88c48;
    font-family: "Aileron";
    font-size: 12pt;
    border-radius: 999px;
    padding: 3px 10px;
    color: white;
    transition: border-color 0.25s;
    margin: .5rem 0;
    cursor: pointer;
    text-align: center;
    width: 92%;
  }
  

  .submit__button:hover {
    background-color: white;
    color: #405f8b;
  }
  .submit__button:active {
    transform: translateY(2px)
  }

/* .edit-wish-form__container {
    align-items: center;
    display: flex;
    flex-direction: column;

}

.edit-wish-form__form {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
    width: 100%;
    justify-content: space-between;
}

.edit-wish-form__form input {
    margin: 0px 0px 20px;
}

.submit-btn, .submit-btn-invalid {
    background-color: #fff;
    border: 2px solid #000;
    padding: .5em;
}

.submit-btn:active {
    transform: translateY(2px);
}

.submit-btn:hover {
    background-color: #005C6C;
    cursor: pointer;
}

.invalid-form-input {
    border: red solid 1px;
    box-shadow: 0 0 7px red;
} */