/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
body {
  background-color: white;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.submit__button {
  background-color: #f88c48;
  font-family: "Aileron";
  font-size: 12pt;
  border-radius: 999px;
  padding: 3px 10px;
  color: white;
  transition: border-color 0.25s;
  margin: .5rem auto;
  cursor: pointer;
}


.submit__button:hover {
  background-color: white;
  color: #405f8b;
}
.submit__button:active {
  transform: translateY(2px)
}